{% extends 'layout.html' %}

    {% block content %}
    
        
    <div ng-app="ChatApp">        
        <div class='container' ng-controller="ChatController">
            
            <div id="" style="overflow: auto; height:80vh;">
                <div class="scroll" id="msgpane">
                    <p ng-repeat="msg in messages">
                        Stuff
                        <b ng-bind="msg.user"></b>: &nbsp
                        <span ng-bind="msg.message"></span>
                    </p>
                 
                 
                </div>
            </div>
            <div style="position: absolute; bottom: 20px;">
                <form ng-submit="send()">
                    Text:
                    <td><input type="text" ng-model="msg" style="min-width: 300px; width: 120vh; float:left; bottom: 80px;" name="username"></td>
                    <td><input type="submit" ng-disabled="!msg" style="float:left;"</td>
                </form>
            </div>
            
        </div>
    </div>
    	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    
    {% endblock %}