{% extends "layout.html" %}

	{% block content %}
	
		<link rel="stylesheet" type="text/css" href="styles/main.css">

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Create Account</h3>
		  </div>
		  <div class="panel-body spacing">
		    Create an account
		    	
		  </div>
		  <div class="panel-body spacing">
		    	
		    	<form method="POST" action="/logged">
		    		
		    		<table>
		    			<tr><td>First Name: &nbsp</td>
		    				<td><input type="text" name="firstname"></td>
		    			<td>&nbsp &nbsp Last Name: &nbsp</td>
		    				<td><input type="text" name="lastname"></td></tr>
		    			<tr> &nbsp </tr>
		    			<tr><td>Age: &nbsp</td>
		    				<td><input type="number" name="age"</td></tr>
		    			<tr> &nbsp </tr><br>
		    			<tr><td>Username: &nbsp</td>
		    				<td><input type="text" name="username"></td><br><br>
	    				<tr><td>email: &nbsp</td>
		    				<td><input type="text" name="email"></td><br><br>
	    				<tr><td>password: &nbsp</td>
		    				<td><input type="password" name="pw"></td><br><br>
		    			<tr><td>Repeat password: &nbsp</td>
		    				<td><input type="password" name="pw2"></td><br><br>
		    		</table>
	    			<div>
	    				<input type="submit" value="Create Account">
	    			</div>
		    	</form>
		    	
		  </div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	{% endblock %}