{% extends "layout.html" %}
	{% block content %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Introduction</h3>
		  </div>
		  <div class="panel-body spacing">
		    Hello and welcome to my website. This site will include various things I create including photography, art, music, etc.
		    
		    {% if sess %}
		    	"GOOD DAY"
	    	{% endif %}
		    
		  </div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	{% endblock %}
