<!doctype html>

	<head>
		<title>Chicken Art</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
	</head>

	<body class="background">
	
		
		<header class="navbar-inverse">
			<div class="container">
				<nav role="navigation">
				  <div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href={{url_for('mainIndex')}}>Chicken.com</a>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				      	{% if typo %}
				        	<li class="active"><a href={{url_for('mainTypo')}}>Typography<span class="sr-only">(current)</span></a></li>
			        	{% else %}
			        		<li><a href={{url_for('mainTypo')}}>Typography</a></li>
		        		{% endif %}
				        {% if digital %}
				        	<li class="active"><a href="#">Digital Art<span class="sr-only">(current)</span></a></li>
			        	{% else %}
			        		<li><a href="#">Digital Art</a></li>
		        		{% endif %}
				        {% if other %}
				        	<li class="active"><a href="#">Other Media<span class="sr-only">(current)</span></a></li>
			        	{% else %}
			        		<li><a href="#">Other Media</a></li>
		        		{% endif %}
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				      	
				      	{% if sess %}
				      		<p class="navbar-text">Logged in as {{user[0]}}</p>
				      	{% endif %}
				      	
				      	{% if sess %}
				      		<li><a href={{url_for('mainOut')}}>Log Out</a></li>
			      		{% else %}
			      		
				      		<li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <form method="POST" action="/login">
		    		
			    				<tr><td>&nbsp &nbsp email: &nbsp</td><br>
				    				<td><input type="username" style="min-width: 90%" name="username"></td><br><br>
			    				<tr><td>&nbsp &nbsp password: &nbsp</td><br>
				    				<td><input type="password" style="min-width: 90%" name="pw"></td><br><br>
				    			<div>
				    				<tr><td>&nbsp &nbsp &nbsp </td><td><input type="submit" value="Login"></td></tr>
				    			</div>
					    	</form>
				          </ul>
				        </li>
			      		{% endif %}
				      	{% if sess %}}
				      		<li><a href="#">Account</a></li>
				      	{% else %}
					      	{% if log %}
					        	<li class="active"><a href={{url_for('mainTypo')}}>Sign Up<span class="sr-only">(current)</span></a></li>
				        	{% else %}
				        		<li><a href={{url_for('mainCreate')}}>Sign Up</a></li>
			        		{% endif %}
				      	{% endif %}
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href={{url_for('mainAbout')}}>Artist</a></li>
				            <li><a href="#">Contact Info</a></li>
				            <li><a href={{url_for('mainSuggest')}}>Suggestions</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="#">Support the Author</a></li>
				          </ul>
				        </li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			</div>
		</header>
		<header>

			<div class="container">
				<div class="panel panel-default">
				  <div class="panel-body panel-inverse">
				  	
				    {% block content %}
				    {% endblock %}
				  </div>
				</div>
			</div>

		</header>
		
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="js/bootstrap.min.js"></script>
	</body>

</html>