{% extends "layout.html" %}

	{% block content %}

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Suggestions</h3>
		  </div>
		  <div class="panel-body spacing">
		  	{% if sess %}
			    <div class="btn-group-vertical" role="group" aria-label="...">
					<a class="btn btn-large btn-info" href={{url_for('mainSuggestions')}}>Suggest Something!</a>
				</div>
			{% endif %}

		    <div class="panel-body spacing">
		    	
		    	<p><h3>Below are the list of suggestions currently made. More highly voted suggestions are more likely to be seen.</h3></p>
		    	
		    	<table border="1" width="100%" ID="Table2">	
		    	<tr><th>First Name &nbsp</th><th>&nbsp Type &nbsp</th><th>&nbsp Suggestion &nbsp</th><th>&nbsp Votes</th></tr>
		    	{% for t in tab %}
		    		<tr><td>{{t[0]}} &nbsp</td><td>&nbsp {{t[1]}} &nbsp</td><td>&nbsp {{t[2]}} &nbsp</td><td>&nbsp {{t[3]}}</td></tr>
	    		{% endfor %}
	    		</table>
		    	
		  </div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	{% endblock %}