{% extends "layout.html" %}

	{% block content %}
	
		<link rel="stylesheet" type="text/css" href="styles/main.css">

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Suggestions</h3>
		  </div>
		  <div class="panel-body spacing">
		    This page is for suggestions regarding new art. If you have anything you would like to see, please fill out this form and I will make sure to read it as soon as I can. Thank you!
		    	
		  </div>
		  <div class="panel-body spacing">
		    	<p>~General~</p>
		    	
		    	<form method="POST" action="/thankyou">
		    		
		    		<table>
		    			<tr><td>First Name: &nbsp</td>
		    				<td><input type="text" name="firstname"></td>
		    			<td>&nbsp &nbsp Last Name: &nbsp</td>
		    				<td><input type="text" name="lastname"></td></tr>
		    			<tr> &nbsp </tr>
		    			<tr><td>Age: &nbsp</td>
		    				<td><input type="number" name="age"</td></tr>
		    			<tr> &nbsp </tr>
		    			
		    		</table>
		    		
		    		<tr><td>Request Type: &nbsp<br></td></tr>
		    			<tr>
		    				<input type="radio" name="sugtype" value="typography" checked> typography<br>
			    			<input type="radio" name="sugtype" value="digital"> digital art<br>
			    			<input type="radio" name="sugtype" value="photography"> photography<br>
			    			<input type="radio" name="sugtype" value="music"> music<br>
			    			<input type="radio" name="sugtype" value="site"> site recommendations or bugs<br>
			    			<input type="radio" name="sugtype" value="other"> other<br>
			    		</tr>
	    			<tr><td>Suggestions: &nbsp</td></tr>
	    			<div>
	    				<textarea name="sug" style="min-width: 90%" rows="10"></textarea>
	    			</div>
	    			<div>
	    				<input type="submit" value="Submit">
	    			</div>
		    	</form>
		    	
		  </div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	{% endblock %}